<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  <div class="container-fluid">

    <%- include('./partials/indexBanner') %>

    <%- include('./partials/indexProd') %>

    <%- include('./partials/sectionIndex') %>

    <%- include('./partials/boostrapUtilities') %>
    
  </div>
  <%- include('./partials/footer') %>

</body>

</html>