<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>

  <%- include('./partials/indexProd') %>

  <%- include('./partials/sectionIndex') %>

  <%- include('./partials/boostrapUtilities') %>

  <%- include('./partials/footer') %>

</body>

</html>