<%- include('./partials/head') %>

<body>

  <%- include('./partials/header') %>
  <div class="container-fluid">

    <%- include('./partials/chat') %>

    <%- include('./partials/boostrapUtilities') %>

  </div>
  <%- include('./partials/footer') %>

</body>

</html>